.flexContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card {
    width: calc(33% - 2rem);
}

div img {
    height: 10rem;
    aspect-ratio: 2/2;
    margin: auto;
    display: block;
}

div p {
    text-align: center;
}

h2 {
    text-align: center;
}